.page .blog-hero.fullscreen .mask {
  background-position-y: bottom !important;
}

.page .blog-hero.fullscreen h1 {
  color: var(--text-color);
}

.page .blog-hero.fullscreen .description {
  color: var(--dark-grey);
}
